/* Font */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

/* Global */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f2f2f2;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 30px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

h2 {
  font-size: 36px;
  font-weight: 700;
  color: #333;
  margin-bottom: 20px;
}

.result-container {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

#result {
  flex: 1;
  font-size: 24px;
  font-weight: 700;
  color: #333;
  padding: 10px;
  background-color: #eee;
  border-radius: 5px;
  text-align: center;
}

.btn {
  background-color: #67eb34;
  border: none;
  color: #fff;
  padding: 10px 20px;
  margin-left: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.btn:hover {
  background-color: #56d62c;
}

.btn-large {
  font-size: 20px;
  font-weight: 700;
  margin-top: 30px;
  width: 100%;
}

.settings {
  margin-bottom: 20px;
}

.setting {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

label {
  flex: 1;
  font-size: 18px;
  font-weight: 700;
  color: #333;
}

input[type="number"],
input[type="checkbox"] {
  margin-right: 10px;
}

input[type="number"] {
  width: 50px;
  padding: 5px;
  border: none;
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
}

input[type="checkbox"] {
  cursor: pointer;
}
